<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">新增教师</li>
  </ol>
</nav>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group row text-right">
    <label class="col-4 col-form-label"><code>*</code>姓名</label>
    <div class="col-4">
      <input type="text" class="form-control" formControlName="name">
    </div>
  </div>
<!--  <div class="form-group row ">-->
<!--    <label class="col-4 text-right col-form-label"><code>*</code>性别</label>-->
<!--    <div class="col-4 mt-2">-->
<!--      <div class="form-check form-check-inline" >-->
<!--        <input class="form-check-input" formControlName="sex" type="radio" value="true" id="sex0">-->
<!--        <label class="form-check-label" for="sex0">男</label>-->
<!--      </div>-->
<!--      <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" formControlName="sex"  type="radio" value="false" id="sex1">-->
<!--        <label class="form-check-label" for="sex1">女</label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="form-group row text-right">
    <label class="col-4 col-form-label"><code>*</code>电话号码</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" formControlName="phone">
    </div>
  </div>
  <hr/>
  <div class="form-group">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-secondary mr-1" (click)="onClose()"><i class="bi bi-x"></i>关闭</button>
      <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i>确定</button>
    </div>
  </div>
</form>
