<div class="container">
  <div class="col-md-12 mt-2">
    <div class="row" *ngIf="!isCurrentQuestionsExit">
      <div class="col-8 text-left">
        <form class="form-inline" [formGroup]="formGroup">
          <label>请选择题库：</label>
          <div class="col-8">
            <app-question-bank-select formControlName="questionBankId"></app-question-bank-select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本场考试题目总数：
            {{ currentQuestions.length }}/{{ currentExam?.questionCount }}
          </div>
        </form>
      </div>
      <div class="col-4 text-right">
        <a class="btn btn-info mr-2" (click)="onRandomQuestions()">
          <ng-container *ngIf="currentQuestions.length === 0">随机出题</ng-container>
          <ng-container *ngIf="currentQuestions.length > 0">再次随机</ng-container>
        </a>
        <ng-container *ngIf="currentQuestions.length > 0">
          <a class="btn btn-secondary mr-2" (click)="onCancelCurrentQuestions()">取消</a>
          <a class="btn btn-primary mr-2" (click)="onSaveExamQuestions()">保存</a>
        </ng-container>
      </div>
    </div>
    <div class="row" *ngIf="isCurrentQuestionsExit">
      <div class="col-8 text-left">
        <div class="form-inline mt-2">
          <ng-container *ngIf="title === '设置题目'">
            <label>当前题库：</label>
            <div class="col-3">
              {{ currentQuestions[0].questionBank.name }}({{ currentQuestions[0].questionBank.course.name }})
            </div>
            <label>本场考试题目总数：</label>
            <div class="col-4">
              {{ currentQuestions.length }}/{{ currentExam?.questionCount }}
            </div>
          </ng-container>
          <ng-container *ngIf="title === '查看题目'">
            <div class="col-6">
              <h5>{{ currentExam?.name }}-共{{ currentExam?.questionCount }}题</h5>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-4 text-right">
        <a class="btn btn-info mr-2" *ngIf="title === '设置题目'" (click)="clearExamQuestions()">重置考试题目</a>
      </div>
    </div>
  </div>
  <hr>
  <div style="background-color: #f9f8f4">
    <ng-container *ngFor="let question of currentQuestions; index as i">
      <div class="form-group row text-left col-form-label ml-1">
        <div class="col-12">
          {{ i + 1 }}.{{ question.stem }}
          <a href="javascript:void(0);" class="ml-5" *ngIf="!isShowQuestionDetail(question.id)" (click)="viewDetail(question.id)">详情</a>
          <ng-container *ngIf="isShowQuestionDetail(question.id)">
            <a href="javascript:void(0);" class="ml-5" style="color: grey" (click)="cancelViewDetail(question.id)">取消</a>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="isShowQuestionDetail(question.id)">
        <div class="form-group row text-left col-form-label ml-5" *ngFor="let option of getOptionsArr(question.options)">
          {{ option }}
        </div>
        <div class="form-group row text-left col-form-label ml-1">
          <div class="col-12">
            答案：{{ getAnswer(question.options, question.answer) }}
          </div>
        </div>
      </ng-container>
      <hr/>
    </ng-container>
  </div>
</div>
