<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">系统设置</li>
  </ol>
</nav>

<div>
  <div class="form-group row text-right">
    <label class="col-5 col-form-label"><code>*</code>默认密码</label>
    <div class="col-4 text-left mt-2">
<!--      <input type="text" class="form-control">-->
      hebut.edu
    </div>
    <div class="col-3 text-left mt-2">
      <a class="btn btn-link">修改</a>
    </div>
  </div>
  <hr/>
  <div class="form-group">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-secondary mr-1" (click)="onClose()"><i class="bi bi-x"></i>关闭</button>
    </div>
  </div>
</div>
