<div class="w-50 container mt-5">
  <div class="form-group row text-right">
    <label class="col-4 col-form-label"><code>*</code>姓名</label>
    <div class="col-4 text-left mt-2">
      <ng-container *ngIf="currentLoginUser?.student">
        {{ currentLoginUser?.student?.name }}
      </ng-container>
      <ng-container *ngIf="currentLoginUser?.teacher">
        {{ currentLoginUser?.teacher?.name }}
      </ng-container>
      <ng-container *ngIf="!currentLoginUser?.teacher && !currentLoginUser?.student">
        管理员
      </ng-container>
    </div>
  </div>
  <div class="form-group row text-right" *ngIf="currentLoginUser?.teacher">
    <label class="col-4 col-form-label"><code>*</code>电话号码</label>
    <div class="col-sm-4 text-left mt-2">
      {{ currentLoginUser?.teacher?.phone }}
    </div>
  </div>
  <div class="form-group row text-right" *ngIf="!currentLoginUser?.student && !currentLoginUser?.teacher">
    <label class="col-4 col-form-label"><code>*</code>电话号码</label>
    <div class="col-sm-4 text-left mt-2">
      {{ currentLoginUser?.username }}
    </div>
  </div>
  <div class="form-group row text-right" *ngIf="currentLoginUser?.student">
    <label class="col-4 col-form-label"><code>*</code>学号</label>
    <div class="col-sm-4 text-left mt-2">
      {{ currentLoginUser?.student?.sno }}
    </div>
  </div>
  <div class="form-group row text-right" *ngIf="currentLoginUser?.student">
    <label class="col-4 col-form-label"><code>*</code>班级</label>
    <div class="col-sm-4 text-left mt-2">
      {{ currentLoginUser?.student?.clazz?.name }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary mr-1" routerLink="edit/1"><i class="bi bi-x"></i>编辑</button>
      <button type="submit" class="btn btn-success" routerLink="updatePassword/1"><i class="bi bi-check-lg"></i>修改密码</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
